<ul class="nav nav-sidebar">
    <li class="active"><a href="#">Menu <span class="sr-only">(current)</span></a></li>
    <li><a [routerLink]="['/formulation']">Formulation</a></li>
    <li><a [routerLink]="['/raw-material-list']">Raw Material</a></li>
    <li><a [routerLink]="['/packaging-material-list']">Packaging Material</a></li>
    <li><a [routerLink]="['/finished-goods-list']">Finished Goods</a></li>
    <li><a [routerLink]="['/schedule-list']">Schedule Production</a></li> 
    
    <li><a [routerLink]="['/actual-production']">Actual Production</a></li> 
</ul>